
{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup-styles.css') }}">

<!-- container containing the side image and sign up form -->
<div class="combined-signup-container">

	<img class="pizza-image" src="/static/pizza-food.jpg">

	<div class="signupcontainer">
		<img class="signuplogo" src="/static/mangi logo.png">

		<p class="bigheading"> Sign up </p>

		<div class="buttoncontainer">
			<a class="optionbutton unselected" href="{{ url_for('signup') }}">Consumer</a>
			<a class="optionbutton selected" href="{{ url_for('business_signup') }}">Business</a>
		</div>

		<form class="signupform" action="" method="post">
			<input class="textbox" type="text" name="business_name" placeholder="Business Name">
			<input class="textbox" type="text" name="cuisine_type" placeholder="Cuisine Type">
			<input class="textbox" type="text" name="address" placeholder="Address (excl. shop unit & postal code)">
	    <input class="textbox" type="text" name="phone" placeholder="Phone Number (8 digits)">
	    <input class="textbox" type="text" name="email" placeholder="Email">
			<input class="textbox" type="password" name="password" placeholder="Password (min. 6 chars)">

			<button class="submitbutton">Create business account</button>
	  </form>

		<p1 style="font-family: Roboto; display: block; text-align: center;"> {{error_message}} </p1>
	</div>
</div>

{% endblock %}
